:root {
    --primario: #FFFFFF;
    --primarioOscuro: #c2c2c2;
    --azul: #0d6efd;
    --secundario: #ffffff;
    --secundarioOscuro: #23202E;
    --blanco: #ffffff;
    --negro: #000000;

    --fuentePrincipal: 'Roboto', sans-serif;

   --ss: #4C575F;
   --ss: #A5BDB1;

   --ss:#EDACA2;
   --ss:#D188A1;
   --ss: #38506B;



}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background: rgba(0, 0, 0, 0.7) url(../public/images/fondo.jpg);
    background-blend-mode: darken;
    background-size: 10rem;
    height: auto;
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}


.container-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 1rem;
}




.container-ToDo {
    grid-column: 2 / 3;
    gap: 2rem;
}

@media (min-width: 768px) {
    .container-ToDo {
        grid-template-columns: repeat(3, 1fr);
    }
}

h1 {
    color: var(--blanco);
    font-weight: 700;
}


.sidebar {
    background-color: var(--negro);
    border: none 1px solid;
    width: 25rem;
    height: 100vh;
}

.logo-app {
    max-width: 20rem;
    padding: 1rem 0 0 1rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* BOTONES */

.botones {
  padding-top: 4px;
}

.boton {
    color: rgba(255, 255, 255, 0.849) !important;
    font-size: 2rem;
    font-weight: 300;
    padding: 0.5em 1.2em;
    background: var(--negro);
    border: 2px solid;
    border-color: var(--negro);
    position: relative;
    border-radius: 1rem;
    text-decoration: none;
    margin: 10rem 0;
}
  
  .boton:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;

  }
  .boton:hover:before {
  width: 100%;
  }

  ul {
    list-style: none;
    color: var(--blanco);
  }

  li {
    padding: 1rem .5rem 1rem .5rem;   
  }

  .footer {
    text-align: center;

  }
  
.color-white {
  background-color: var(--negro);
}